* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #a1c3ff;
}

img {
  max-width: 100%;
}

h1,
h2 {
  margin-bottom: 1rem;
}

li {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem;
}

.navbar {
  background-color: #3474e6;
  color: white;
  height: 60px;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: bold;
}

.navbar a:hover {
  color: lightblue;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar .nav {
  display: flex;
  gap: 1.5rem;
}

.header {
  background-color: #0151cc;
  color: white;
  min-height: 400px;
}

.header h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
}

.header img {
  max-width: 400px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boxes .container {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.box {
  flex: 1;
  background-color: #0151cc;
  color: white;
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  padding: 1rem 1.25rem;
}

.box i {
  margin-right: 0.75rem;
}

@media (max-width: 768px) {
  .header .container {
    flex-direction: column;
    padding-top: 1.25rem;
    text-align: center;
  }

  .boxes .container {
    display: block;
    text-align: center;
  }
}
